{sys, [
       {lib_dirs, ["./_build/default/lib/"]},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "myapp", "1.0.0",
        [
         kernel,
         stdlib,
         sasl,
         lager,
         myapp
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "myapp"},
       {profile, embedded},
       {incl_cond, derived},
       {excl_app_filters,     ["\.gitignore"]},
       {excl_sys_filters,     ["^bin/.*", "^erts.*/bin/(dialyzer|typer)",
                               "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {app, hipe, [{incl_cond, exclude}]},
       {app, appmon, [{incl_cond, exclude}]}
      ]}.

